[submodule "pack/all/start/securemodelines"]
	path = pack/all/start/securemodelines
	url = https://github.com/ciaranm/securemodelines.git
	branch = master
[submodule "pack/all/start/vim-pathogen"]
	path = pack/all/start/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
	branch = master
[submodule "pack/all/start/editorconfig-vim"]
	path = pack/all/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
	branch = master
[submodule "pack/all/start/vim-coffee-script"]
	path = pack/all/start/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
	branch = master
[submodule "pack/all/start/vim-es6"]
	path = pack/all/start/vim-es6
	url = https://github.com/isRuslan/vim-es6.git
	branch = master
[submodule "pack/all/start/vim-less"]
	path = pack/all/start/vim-less
	url = https://github.com/groenewege/vim-less
	branch = master
[submodule "pack/all/start/vim-nginx"]
	path = pack/all/start/vim-nginx
	url = https://github.com/fatih/vim-nginx.git
	branch = master
[submodule "pack/all/start/vim-scala"]
	path = pack/all/start/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
	branch = master
[submodule "pack/all/start/xmledit"]
	path = pack/all/start/xmledit
	url = https://github.com/sukima/xmledit.git
	branch = master
[submodule "pack/all/start/vim-visual-increment"]
	path = pack/all/start/vim-visual-increment
	url = https://github.com/triglav/vim-visual-increment.git
	branch = master
[submodule "pack/all/start/info.vim"]
	path = pack/all/start/info.vim
	url = https://github.com/vim-scripts/info.vim
	branch = master
[submodule "pack/all/start/vim-gnupg"]
	path = pack/all/start/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
	branch = master
[submodule "pack/all/start/vim-toml"]
	path = pack/all/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
	branch = master
[submodule "pack/all/start/vim-ps1"]
	path = pack/all/start/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
	branch = master
[submodule "pack/all/start/vim-dirdiff"]
	path = pack/all/start/vim-dirdiff
	url = https://github.com/will133/vim-dirdiff.git
	branch = master
[submodule "pack/all/start/vim-csharp"]
	path = pack/all/start/vim-csharp
	url = https://github.com/OrangeT/vim-csharp.git
	branch = master
[submodule "pack/all/start/vim-mustache-handlebars"]
	path = pack/all/start/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
	branch = master
[submodule "pack/all/start/vim-markdown"]
	path = pack/all/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
	branch = master
[submodule "pack/all/start/tsuquyomi"]
	path = pack/all/start/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
	branch = master
[submodule "pack/all/start/typescript-vim"]
	path = pack/all/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
	branch = master
[submodule "pack/all/start/ale"]
	path = pack/all/start/ale
	url = https://github.com/w0rp/ale.git
	branch = master
[submodule "pack/all/start/vim-json"]
	path = pack/all/start/vim-json
	url = https://github.com/elzr/vim-json.git
	branch = master
[submodule "pack/all/start/vim-fugitive"]
	path = pack/all/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	branch = master
[submodule "pack/all/start/iptables"]
	path = pack/all/start/iptables
	url = https://github.com/vim-scripts/iptables.git
	branch = master
[submodule "pack/all/start/vim-jsonc"]
	path = pack/all/start/vim-jsonc
	url = https://github.com/kevinoid/vim-jsonc.git
	branch = master
